*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 90%);
}
.cabecalho{
    margin-top: 5px;
}
.conteudo{
    display: flex;
    justify-content: space-between;
    
}
.conteudo-colocar-texto{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-bottom: 20px;
    margin: 5%;
    gap: 80%;
}


.input-texto{
  border: none;
  background-color: hsl(0, 0%, 90%);
  color: #0A3871;
  font-size: 32px;
}
::-webkit-input-placeholder {
    color: #0A3871;
 }
 textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 
.bt-cript{
    width: 328px;
    background-color: #0A3871;
    color: #fff;
    border: none;
    padding: 20px;
    border-radius: 24px;
    font-size: 16px;
   margin-right: 3px;
}
.bt-cript:hover, .bt-descript:hover, .bt-copiar:hover, .bt-limpar:hover{
    background-color: #fff;
    color: #0A3871;
   
}
.bt-descript{
    width: 328px;
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    padding: 20px;
    border-radius: 24px;
    font-size: 16px;
    margin-left: 3px;
}

.bt-copiar{
    width: 250px;
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    padding: 20px;
    border-radius: 24px;
    font-size: 16px;
}
.bt-limpar{
    width: 250px;
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    padding: 20px;
    border-radius: 24px;
    font-size: 16px;
}
.div-bt-resultado{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.invisivel{
    display: none;
}
.div-bt{
    display: flex;
}
.aviso{
    display: flex;
    gap: 5px;
    color: #495057;
    font-size: 12px
}

.conteudo-resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-right: 5%;
    width: 300px;
    height: 87vh;
    border-radius: 32px;
    padding: 20px;
    gap: 10px;
    text-align: center;
}
.img-resultado{
    width: 70%;
}
.titulo-resultado{
    color: #343A40;
    font-size: 24px;
}
.paragrafo-resultado{
    color: #343A40;
    font-size: 16px;
}
.rodape{
    font-size: 24px;
    text-align: center;
}
@media(max-width: 950px){
    .conteudo{
        flex-direction: column;
        align-items: center;
    }
    .img-resultado{
        display: none;
    }
    .conteudo-resultado{
        width: 688px;
        height: 133px;
    }
  
    .conteudo-botao{
        margin: 30% 0% 0% 0%;
    }
}
@media(max-width: 660px){
    .conteudo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left:5%;
    }
   .div-bt{
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
  .aviso{
    margin-left: 9%;
  }
  .bt-cript, .bt-descript{
    margin: 10px;
  }
}
@media(max-width: 370px){
    .conteudo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px;
    }
    .input-texto{
        text-align: center;
        padding: 10%;
        font-size: 30px;
      }
  .aviso{
    margin-left: 15%;
  }
  .bt-cript, .bt-descript{
    width: 250px;
  }
  .conteudo-resultado{
   height: 100%;
}
}

